body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input, button{
  padding: 4px 6px;
  margin: 3px 0;
  font-weight: bold;
  width: 100%;
}

label{
  display: block;
  margin: 8px 0 2px 0;
} 

.app{
  margin: 0 auto;
  width: 500px
}

.flight-list-item{
  display: flex;
  text-align: center
}

.flight-list-item > div{
  padding: 10px
}

.flight-list-item > div > span{
  font-size: smaller;
  color: grey;
  margin: 0 5px;
}

.flight-list-item-info{
  flex: 1
}

.selected{
  font-weight: bold;
}

.paginated-list-nav > div{
  display: inline-block;
  cursor: pointer;
  padding: 8px 10px;
  background: #ddd;
  user-select: none;
  margin: 0 2px;
}